<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763443359965-l7jnn44ps8fl78sskchev8unf1vu1t0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763443359965-l7jnn44ps8fl78sskchev8unf1vu1t0l</string>
	<key>API_KEY</key>
	<string>AIzaSyAQJbl49uFxEck5H1KbsjKjx72H8NK4JmM</string>
	<key>GCM_SENDER_ID</key>
	<string>763443359965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ExT.Washkr</string>
	<key>PROJECT_ID</key>
	<string>washkrproject</string>
	<key>STORAGE_BUCKET</key>
	<string>washkrproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763443359965:ios:457a8504634c7347</string>
	<key>DATABASE_URL</key>
	<string>https://washkrproject.firebaseio.com</string>
</dict>
</plist>